[submodule "imgui-sfml"]
	path = Depend/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
[submodule "Depend/Box2D"]
	path = Depend/Box2D
	url = https://github.com/TheCherno/box2d
[submodule "Depend/yaml-cpp"]
	path = Depend/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "Depend/ImGuizmo"]
	path = Depend/ImGuizmo
	url = https://github.com/thecherno/imguizmo
